@if (Content == null)
{
  <span>Loading...</span>
}
else
{
  <div class="markdown">
    @((MarkupString)@RenderHtml())
  </div>
}

@code {
    [Parameter]
    public string Content { get; set; }

    private string RenderHtml() => Markdig.Markdown.ToHtml(
        markdown: Content,
        pipeline: new MarkdownPipelineBuilder().UseAdvancedExtensions().Build()
    );
}
