@inject IJSRuntime JSRuntime;

<div class="sign-out__main"@onclick="CallSignOut">
  SIGN OUT
</div>

@code {
    private async void CallSignOut()
    {
      await JSRuntime.InvokeAsync<string>("kumo.signOut", "");
    }
}
