@inject IJSRuntime JSRuntime;

<main>
    <Button Title="SIGN IN" OnClick="@CallSignIn" />
</main>

@code {
    private async void CallSignIn()
    {
      await JSRuntime.InvokeAsync<string>("kumo.signIn", "");
    }
}
