:root {
  --body-color: #f6f6f6;
  --text-color: #273037;
  --border-color: #e7e7e7;

  --header-color: #f5f7f7;

  --header-height: 48px;
  --nav-bar-width: 256px;

  --error-color: #ff0000;
}

/** Layout **/

.layout__main {
  display: flex;
  flex-direction: column;
}

.layout__row {
  display: flex;
}

/** Common **/

html,
body {
  font-family: apple-system, BlinkMacSystemFont, Helvetica Neue,
    Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM, メイリオ,
    Meiryo, sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/** Header **/

.header__main {
  height: var(--header-height);
  width: 100vw;
  background-color: #03111d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Raleway", apple-system, BlinkMacSystemFont, Helvetica Neue,
    Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM, メイリオ,
    Meiryo, sans-serif;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: var(--nav-bar-width);
}

.header__logo img {
  width: 32px;
  height: var(--header-height);
}

.header__text {
  color: #fefefe;
}

/** NavMenu **/

.nav-menu__main {
  max-width: var(--nav-bar-width);
  width: var(--nav-bar-width);
  border-right: 1px solid var(--border-color);
  height: calc(100vh - var(--header-height));
}

/** NavMenuItem **/

.nav-menu-item__main {
  width: 100%;
  display: flex;
}

.nav-menu-item__main a {
  width: 100%;
}

.nav-menu-item__icon {
  height: 100%;
  width: 16px;
  line-height: 36px;
  box-sizing: border-box;
  padding: 8px;
  display: inline-block;
}

.nav-menu-item__title {
  margin-left: 8px;
  height: 100%;
  width: 16px;
  line-height: 36px;
  box-sizing: border-box;
  padding: 8px;
  display: inline-block;
}

/** List **/

.list__main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-left: 16px;
}

.list__header {
  width: calc(100vw - var(--nav-bar-width));
  display: flex;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
  text-transform: uppercase;
  padding-bottom: 8px;
}

.list__header > div {
  padding-left: 8px;
}

.list__header__name {
  width: 256px;
}

.list__header__description {
  width: 100%;
}

.list__header__date {
  width: 156px;
  padding-right: 8px;
}

.list__header__op {
  width: 40px;
  padding-right: 8px;
}

/** List Item **/

.list-item__main {
  padding: 16px 0;
  display: flex;
}

.list-item__main:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.list-item__main > a {
  display: flex;
}

.list-item__main > a > div {
  padding-left: 8px;
}

.list-item__name {
  width: 256px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item__description {
  width: 100%;
}

.list-item__date {
  width: 156px;
  padding-right: 8px;
}

.list-item__delete {
  width: 40px;
  padding-right: 8px;
}

/** Form **/

.form {
  padding: 16px;
  width: calc(100vw - var(--nav-bar-width));
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

.form-group__main {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.form-group__title {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  text-transform: uppercase;
  margin: 16px 0;
  padding-bottom: 8px;
}

.form__main {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.form__label {
  font-size: 0.9rem;
}

.form__input {
  padding: 8px;
  font-size: 0.9rem;
}

/** Button **/

.button {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #fdfdfd;
  color: #000;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 0.9rem;
}

.button:hover,
.button:focus {
  background-color: var(--sub-color);
}

.button > * {
  position: relative;
}

.button span {
  display: block;
  padding: 12px 24px;
}

.button:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.button.primary {
  background-color: #3266d4;
  color: #fff;
}

.button.primary:hover,
.button.primary:focus {
  background-color: #4776d8;
  color: #fff;
}

/** Other **/

.active {
  background-color: var(--active-color);
}

.validation-message {
  font-size: 0.9rem;
  color: var(--error-color);
  padding: 8px 0;
}

.sign-out__main {
  color: #fff;
  cursor: pointer;
  padding: 8px;
}
